:root {
  --color-black: #020202;
  --color-blue: #47a6ff;
  --color-green: #05a660;
  --color-grey: #525252;
  --color-white: #fcfcfc;
  --color-grey-bg: #ececec;

  --font-family: 'Lato', sans-serif;

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-black);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
